<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content ="width=device-width", initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mission to Mars</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <div class = "jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <div class="container">
            <div class="row" id="news_title">
                <div class = "col-md-12">
                    <h2>Latest Mars News</h2>
                    <h5>{{mars.news_title}}</h5>
                    <p>{{mars.news_p}}</p>
                </div>
            </div>
        </div>
        <hr>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Featured Mars Image</h2>
                    <img src="{{mars.featured_image_url}}" class="rounded float-left" style="max-width:100%; max-height: auto"; alt="Featured Image">
                </div>

                <div class ="col-md-4">
                    <h3>Current Weather on Mars</h3>
                    <p>{{mars.mars_weather}}</p>
                    <h4>Mars Facts</h4>
                    <table class="table table-striped">    
                    <p>{{mars.table | safe}}</p>
                </div>
            </div>
        </div>
        <br>

        <div class="container">
            <div class ="row" id="mars-hemispheres">
                <div class = "col-md-12">
                    <h3>Mars Hemispheres</h3>
                    <hr>

                    {% for hemisphere in mars.hemisphere_image_urls %}
                        <div class = "col-md-6">
                            <div class = "thumbnail">
                                <img src = "{{hemisphere.img_url}}">
                                <h3>{{hemisphere.title}}</h3>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>    
    </body>
</html>